---
layout: default
title: Projects
permalink: /projects/
images:
- src: /images/galleryimages/tatayandfamily.jpg
  alt: Mixed Media Drawing of my family members
  span: 1
- src: /images/galleryimages/dog.jpg
  alt: Oil Painting on Canvas of Dog
  span: 2
- src: /images/galleryimages/livehere.jpg
  alt: photography of chair with colored drawings
  span: 1
- src: /images/galleryimages/coloredprint.jpg
  alt: Print of House with crayon drawings
  span: 1
- src: /images/galleryimages/houseprint.jpg
  alt: print of a house 
  span: 1
- src: /images/galleryimages/untitledwork.jpg
  alt: Lorem ipsum dolor sit amet
  span: 2
---

<section class = "page-section projects" >
  <div class="container">
   
    <div class="grid">
      <div class="gutter-sizer"></div>
      <div class="grid-sizer"></div>
      {% for img in page.images %}
      <img class="grid-item {% if img.span == 2 %}span2{% endif %}" src="{{img.src}}" alt="{{img.alt}}">
      {% endfor %}
    </div>
  </div> 
</section>