---
---

@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&display=swap');

body { font-family: 'Amiri', serif; }

img {
  max-width: 100%;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #FFFFFF;

}
h2 { 
  font-size : 3rem;
  font-style: regular;
  color: #795241
}

h3 {
  font-size: 15pt;
  font-style: regular;
  color: #581F17;
}
p { 
  font-style: italic;
  font-size: 11pt;
}

 





.page-section {
  display: flex;
  height: 100vh;
  overflow: scroll;
  padding: 4rem 0;
  background: #F2F2EC; //#C7CAC6;

 &.about {
   background:#F2F2EC;
  }
}

.container {
  margin: 0 1.25rem;
  width: 100%;
}


//header/nav layout //



.logotype{
  display: flex;
  justify-content: center;
  //left: 150px;
  color: #FFFFFF;
  // stroke: #AD8317;
  // stroke-width: 2px;

  a { text-decoration: none; }

  h1 { -webkit-text-stroke: 1px #AD8317; }

}
header {
  display: flex; 
  justify-content: center;
  font-style: regular;
 // right: 150px;  


}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: center;
} 

li a {
  display: block;
  color:#795241;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: white;
  text-decoration: underline;
}




//////


.featured-projects .container {
  display: grid;
  grid-gap: 1.25rem;
  text-align: center;
}

.about .container {
  display: grid;
  grid-gap: 1.25rem;
}

.portrait {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  overflow: hidden;
  justify-self: center;
}

article.statement { 
  white-space: pre-wrap;
  max-width: 75ch;
  margin: 0 auto;
}

.contacts i {
  filter: grayscale(100%) sepia(100%);
  box-shadow: 0 2px 4px rgba(174,131,23,.25);
  border-radius: 100%;
}

.grid-item, .grid-sizer { width: 100%; }

.grid-item {
  margin-bottom: 1rem;
  opacity: 0;
  transition: .3s;
};

@media screen and (min-width: 600px){

  .featured-projects .container {
    align-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 4rem;
    margin: 0 auto;
    grid-gap: 4rem;
    width: 85vw;

    .project:nth-child(2n+1) {
      text-align: right;
    }
  }
  .grid-item, .grid-sizer { width: 49% }
  .gutter-sizer { width: 2% }
  .grid-item.span2 { width: 100%; }
  
}

@media screen and (min-width: 1024px){
  .about .container {
    padding: 0 4rem;
    margin: 0 auto;
    grid-gap: 4rem;
    width: 85vw;
    grid-template-columns: 192px 1fr;
    grid-template-rows: 0 1fr 1fr;
    grid-template-areas: "portrait header" "portrait text" "portrait contacts";

    .portrait {
      grid-area: portrait;
    }

    h1 {
      // grid-column: span 2;
      grid-area: header;
      font-size: 12pt;
    }

    .statement { 
      grid-area: text;
      margin: 0;
    }

    .contacts { grid-area: contacts }
  }

  .grid-item, .grid-sizer { width: 24% }
  .gutter-sizer { width: 1.3333% }
  .grid-item.span2 { width: 49.3333%; }
}

@media screen and (min-width: 1400px){
  

}

@import "svg-icons";